<ul class="main-navigation">
  <li><a href="http://cf-learn.info/">The Book</a></li>
  <li><a href="http://cf-learn.info/author.html">The Author</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="http://cf-learn.info/discussion.html">Forum</a></li>
  <li><a href="http://cf-learn.info/code.html">Code</a></li>
  <li><a href="http://oreilly.com/catalog/errata.csp?isbn=0636920022022">Errata</a></li>
  <li><a href="http://cf-learn.info/reviews.html">Reviews</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
